.article-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    padding: 10px;
}

.article-card img {
    width: 300px;
}

.float-right {
    float: right
}

.article-card .topic {
    color: rgb(176, 12, 51);
}